<div class="post_article">
 <div class="cont_post">
    h2
      a(href=source[0])= source[0]
    div(class="cont_img")
      a(href=source[0])
        img(src="/content/images/2017/11/tech-at-naver-015_small.png" width="100%" height="100%" alt="")
    a(class="post_txt_wrap", href=source[0])
      div(class="post_txt")= source[1]
    <dl>
     <dt><i class="xe-time-o"><span class="blind">등록일</span></i></dt>
     <dd>2017.11.15</dd>
     <dt><span class="blind">|</span></dt>
     <dd><span class="line_bar">|</span></dd>
     <dt><i class="xe-eye"><span class="blind">코멘트</span></i></dt>
     <dd>1169</dd>
    </dl>
 </div>
</div>
