doctype html
html.
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/naver/naver_d2.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/naver/xeicon.min.css" />
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>Senpai's practice homepage</title>
  <!-- XEIcon 1.0.2 import -->
</head>
<body>
<div id="wrap" class="main">
    <div>
      <div id = "header">
        <div class = "main_lnb">
          <div class = "header_sec">
            <div class = "inner_sec">
              <div id = "lnb" class = "lnb">
                <h1>
                  <a href = "/" target = "_self" class = "lnb_top_logo">
                    <span class = "blind"> naver D2 </span>
                  </a>
                </h1>

                <div class="menu_sec">
                  <div class="btn_lnb_menu"> <!-- logo 파일은 naver_d2.css 에서 수정하여야 함 -->
                    <a href="#">
                      <span class="blind">메뉴</span>
                    </a>
                  </div>

                  <ul>
                    <li class="page_button ask"><a href="/ask">ASK</a></li>
                    <li class="page_button source"><a href="/source">SOURCE</a></li>
                    <li class="page_button help"><a href="#">HELP</a></li>
                    <li class="page_button about"><a href="#">ABOUT</a></li>
                    <li class="page_button my"><a href="#">MY</a></li>
                  </ul>
                </div>

                <div class="m_search_sec">
                  <div class="btn_lnb_search">
                    <a href="#">
                      <span class="blind">검색</span>
                    </a>
                  </div>
                  <input type="text" placeholder="항목 검색">
                </div>

                <div class="pc_search_input">
                  <fieldset>
                    <legend>검색</legend>
                    <input type="text" placeholder="Source 검색하기" name="" class="search_area">
                    <input type="submit" value="" class="btn_search">
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      block content
      <div id="footer">
        <div class="inner_sec">
          <div class="footer_sec">
            <div class="sns_share">
              <ul>
                <li><a href="http://naver.github.io" class="github" target="_blank"><i class="xe-github"></i></a></li>
                <li><a href="http://facebook.com/naverd2" class="facebook" target="_blank"><i class="xe-facebook"></i></a></li>
                <li><a href="https://twitter.com/naver_d2" class="twitter" target="_blank"><i class="xe-twitter"></i></a></li>
                <li><a href="/d2.atom" class="rss" target="_blank"><i class="xe-social-rssfeed"></i></a></li>
              </ul>
            </div>
            <p class="copyright"><a href="http://www.naver.com" target="_blank" class="naver_logo"></a><span>Copyright</span> © <a href="http://www.navercorp.com/" target="_blank"><strong>SENPAI Corp.</strong></a> <span>All Rights Reserved.</span></p>
          </div>
        </div>
      </div>
    </div>
</div>
<script src='http://code.jquery.com/jquery-latest.js'></script>
<script type="text/javascript" src="layout.js"></script>
block js
<link rel="stylesheet" type="text/css" href="layout.css" />
</body>
</html>
</body>
