<h3>정렬 순서</h3>
 <div class="side_list">
   <ul>
    if sort=='recent'
      <li class="sort"><a href='#' class="recent bold">Recent</a></li>
    else
      <li class="sort"><a href='#' class="recent">Recent</a></li>   
    if sort=='like'
      <li class="sort"><a href='#' class="like bold">Like</a></li>
    else
      <li class="sort"><a href='#' class="like">Like</a></li> 
    if sort=='download'
      <li class="sort"><a href='#' class="download bold">Download</a></li>
    else
      <li class="sort"><a href='#' class="download">Download</a></li> 
   </ul>
 </div>


//- <div class="contents search_result">
//-   <div class="result_count">
//-     <div class="search_sort">
//-       <p class="result_count_num">
//-         <span class="count_tit">TOTAL</span>
//-         <span class="count_num">2</span>
//-       </p>
//-     </div>
//- 
//-     <div class="list_sort"> <!-- 정렬 기준 박스 지우려면 이 div 블럭만 지우면 됌 -->
//-       <div class="list_sort_item">
//-         <strong>
//-           <a href="#" class="list_standard">정확도순</a>
//-           <i class="xe-angle-down">
//-             before
//-           </i>
//-         </strong>
//-         <ul class="ly_select">
//-           <li>
//-             <a href="#" data-sort>정확도순</a>
//-           </li>
//-           <li>
//-             <a href="#" data-sort="postPublishedAt,desc">최신등록일순</a>
//-           </li>
//-           <li>
//-             <a href="#" data-sort="">좋아요순</a>
//-           </li>
//-           <li>
//-             <a href="#" data-sort="">다운로드순</a>
//-           </li>
//-         </ul>
//-       </div>
//-     </div>
//-   </div>
//- </div>
