extends ./part/layout.pug
block content
  <div class="bg_ask_sec"> <!-- ASK.png 에서 좌측 sidebar에 위치한 ASK 가 이 항목임 -->
    <div class="ask_area">
      <div class="ask_sec">
        <p class="ask_title">
          <span data-reactid=".0.0.1.0.0.0.0">ASK</span>
          <span class="bar" data-reactid=".0.0.1.0.0.0.1">&nbsp;</span>
          <span class="ask_sub_title" data-reactid=".0.0.1.0.0.0.2">Senpai에게 Source를 요청합니다.</span>
        </p>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="con_area">
      <div class="contents">

        - var sources = [['[산경] IMEN 231 - 최적화개론 / 2015 중간고사', '2015년 1학기와 2학기 중간고사 시험지 모음입니다. 굉장히 유용한 자료입니다'], ['[컴공] CSED 451 - 컴퓨터비전 개론 / 2016 참고자료', '컴퓨터 비전과 관련된 수업 교재와 pdf 모음입니다.']]
        each source in sources
          include ./part/source_item.pug

        <div class="sidebar">
           <div class="side_list"> <!-- 새로 글을 작성할 수 있는 버튼 (예진이가 디자인 한 ASK.png 참고) -->
             <ul>
               <li><a href="#">Ask New</a></li>
             </ul>
           </div>
        </div>
      </div>
    </div>
  </div>

block js
  <script type="text/javascript" src="ask.js"></script>
