extends ./part/layout.pug
block content
  <div class="bg_news_sec">
    <div class="news_area">
      <div class="news_sec">
        <p class="news_title">
          <span>ASK</span>
          <span class="bar">&nbsp;</span>
          <span class="news_sub_title">Senpai에게 Source를 요청합니다.</span>
        </p>
      </div>
    </div>
  </div>
  <div id="container">
    <div class="con_area">
      <div class="contents">
        <div class="sidebar">
           <div class="side_list"> <!-- 새로 글을 작성할 수 있는 버튼 (예진이가 디자인 한 ASK.png 참고) -->
             <ul>
               <li><a href="#">Ask New</a></li>
             </ul>
           </div>
        </div>
        <div> <!-- 게시판 iframe 또는 게시판 툴 가져다 넣기 -->
        </div>
      </div>
    </div>
  </div>
