block content
  <div id="container">
    <div class="con_area">
      <div class="contents">
        <div class="post_article">
         <div class="cont_post">
            <h2><a href="/helloworld/8670646">[TECH@NAVER] "디자이너가 묻고 개발자가 답하는 웹 이야기" 출간</a></h2>
            <div class="cont_img"><a href="/helloworld/8670646"><img src="/content/images/2017/11/tech-at-naver-015_small.png" width="100%" height="100%" alt=""></a></div>
            <a href="/helloworld/8670646" class="post_txt_wrap">
               <div class="post_txt">네이버 기술 서적 시리즈 TECH@NAVER의 열다섯 번째 책인 "디자이너가 묻고 개발자가 답하는 웹 이야기"가 무료 전자책으로 출간됐습니다. "디자이너가 묻고 개발자가 답하는 웹 이야기"는 웹 디자이너가 웹 </div>
            </a>
            <dl>
             <dt><i class="xe-time-o"><span class="blind">등록일</span></i></dt>
             <dd>2017.11.15</dd>
             <dt><span class="blind">|</span></dt>
             <dd><span class="line_bar">|</span></dd>
             <dt><i class="xe-eye"><span class="blind">코멘트</span></i></dt>
             <dd>1169</dd>
            </dl>
         </div>
        </div>
      </div>
    </div>
  </div>
