extends ./part/layout.pug
block content
  <div class="bg_img_sec">
    <div class="img_area" style="background: #000000;">
      <div class="img_sec main_bg">
        <p class="big_title">
          <a href="" target="_blank"></a>
        </p>
        <div class="slogan"><p>학습에 필요한 자료들을 민주적으로 공유합니다.</p></div> <!-- Slogan 수정 요망 -->
        
        <div class="select_search">
          <ul> <!-- input="Checkbox" 사용해서 각 항목 앞에 동그라미 체크박스 하나씩 넣어야 함 (중복 선택하게 할 건지 아니면 하나만 선택하게 할 건지 결정해야 함) -->
            <li class="select_ask"><p>ASK</p></li> <!-- 이 class 위치 조정은 naver_d2.css 의 .select_ask 항목에서 left:% 의 % 값 변경 -->
            <li class="select_source"><p>SOURCE</p></li> <!-- 이 class 위치 조정은 naver_d2.css 의 .select_source 항목에서 left:% 의 % 값 변경 -->
          </ul>
        </div>
      </div>
    </div>

    <div class="m_search_sec">
      <div class="btn_lnb_search">
        <a href="#">
          <span class="blind">검색</span>
        </a>
      </div>
      <input type="text" placeholder="항목 검색">
    </div>
    <div class="pc_search_input">
      <fieldset>
        <legend>검색</legend>
        <input type="text" placeholder="Source 검색하기" name="" class="search_area">
        <input type="submit" value="" class="btn_search">
      </fieldset>
    </div>
  </div>
  <div id="container">
    <div class="con_area">
      <div class="contents"> <!-- Recent upload DB 만들어서 여기에 띄울 수 있어야 함. 현재 /part/source_item.pug 에 작성된 것만 보여주는 중 -->

        - var sources = [['[산경] IMEN 231 - 최적화개론 / 2015 중간고사', '2015년 1학기와 2학기 중간고사 시험지 모음입니다. 굉장히 유용한 자료입니다'], ['[컴공] CSED 451 - 컴퓨터비전 개론 / 2016 참고자료', '컴퓨터 비전과 관련된 수업 교재와 pdf 모음입니다.']]
        each source in sources
          include ./part/source_item.pug

      </div>
    </div>
  </div>
