extends ./part/layout.pug
block content
  <div class="bg_img_sec">
    <div class="img_area" style="background: #000000;">
      <div class="img_sec">
        <p class="big_title">
          <a href="" target="_blank"></a>
        </p>
        <div class="slogan"><li>"Senpai, Kimozzi."</li></div>
      </div>
    </div>
    <div class="m_search_sec">
      <div class="btn_lnb_search">
        <a href="#">
          <span class="blind">검색</span>
        </a>
      </div>
      <input type="text" placeholder="항목 검색">
    </div>
    <div class="pc_search_input">
      <fieldset>
        <legend>검색</legend>
        <input type="text" placeholder="Source 검색하기" name="" class="search_area">
        <input type="submit" value="" class="btn_search">
      </fieldset>
    </div>
  </div>
  <div id="container">
    <div class="con_area">
      <div class="contents">
        - var sources = [['[산경] IMEN 231 - 최적화개론 / 2015 중간고사', '2015년 1학기와 2학기 중간고사 시험지 모음입니다. 굉장히 유용한 자료입니다'], ['[컴공] CSED 451 - 컴퓨터비전 개론 / 2016 참고자료', '컴퓨터 비전과 관련된 수업 교재와 pdf 모음입니다.']]
        each source in sources
          include ./part/source_item.pug
      </div>
    </div>
  </div>
