extends ./part/layout.pug
block content

  <div class="bg_sourceup_sec" data-reactid=".0.0.1">
    <div class="sourceup_area" data-reactid=".0.0.1.0">
      <div class="sourceup_sec" data-reactid=".0.0.1.0.0">
        <p class="sourceup_title" data-reactid=".0.0.1.0.0.0">
          <span data-reactid=".0.0.1.0.0.0.0">Upload</span>
          <span class="bar" data-reactid=".0.0.1.0.0.0.1">&nbsp;</span>
          <span class="sourceup_sub_title" data-reactid=".0.0.1.0.0.0.2">Source를 업로드합니다.</span>
        </p>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="con_area">
      <div class="contents">
        <div class="sidebar">
           <div class="side_list">
             <ul>
               <li><a href="#">Upload New</a></li>
             </ul>
           </div>
           <div class="input_mail" data-reactid=".0.1.0.0.1:1.2">
              <fieldset data-reactid=".0.1.0.0.1:1.2.0">
                 <legend data-reactid=".0.1.0.0.1:1.2.0.0">e-mail 구독신청</legend>
                 <i class="xe-email" data-reactid=".0.1.0.0.1:1.2.0.1"></i>
                 <form action="/" method="POST" data-reactid=".0.1.0.0.1:1.2.0.2"><input type="text" placeholder="이메일 주소 입력" class="input_email" data-reactid=".0.1.0.0.1:1.2.0.2.0"><input type="submit" class="btn_email_request" value="구독하기" data-reactid=".0.1.0.0.1:1.2.0.2.1"></form>
                 <p class="state_msg success" data-reactid=".0.1.0.0.1:1.2.0.3"></p>
              </fieldset>
           </div>
        </div>

        <div> <!-- 게시글 작성 iframe 또는 게시판 툴 가져다 넣기 -->
        </div>

      </div>
    </div>
  </div>
