extends ./part/layout.pug
block content
  <div class="bg_sourceup_sec">
    <div class="sourceup_area">
      <div class="sourceup_sec">
        <p class="sourceup_title">
          <span>Upload</span>
          <span class="bar">&nbsp;</span>
          <span class="sourceup_sub_title">Source를 업로드합니다.</span>
        </p>
      </div>
    </div>
  </div>
  <div id="container">
    <div class="con_area">
      <div class="contents">
        <div class="left sidebar"></div>
        <div class="write_form">
          <form id="writeAction" action="/boards" method="post">
              <input type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="제목">
              <input type="text" class="inputWriter" id="addContentWriter" name="addContentWriter" placeholder="작성자">
              <input type="password" class="inputPassword" id="addContentPassword" name="addContentPassword" placeholder="비밀번호">
              <textarea class="textContents" id="addContents" name="addContents" rows="20" cols="80"></textarea>
          </form>
          <div id = "new" class="addBtngroup">
              <a onclick="submitContents('add');"><div>SUBMIT</div></a>
              <a onclick="cancelWriteForm('cancel');"><div>CANCEL</div></a>
          </div>
        </div>
      
        div 
          h2.center-align(style='padding: 1em') What do you want to tell the world?
          form(method='POST' action='/postmessage')
            .row
              .input-field
                input.validate(type='text' name='author')
                label(for='author') Author 
            .row
              .input-field
                input.validate(type='text' name='title')
                label(for='title') Title 
            .row
              .input-field
                input.validate(type='text' name='body')
                label(for='body') Message
            button.btn.waves-effect.waves-light(type='submit', value='Submit')
              i.material-icons send
      </div>
    </div>
  </div>
