extends ./part/layout.pug
block content
  <div class="bg_sourceup_sec">
    <div class="sourceup_area">
      <div class="sourceup_sec">
        <p class="sourceup_title">
          <span>Upload</span>
          <span class="bar">&nbsp;</span>
          <span class="sourceup_sub_title">Source를 업로드합니다.</span>
        </p>
      </div>
    </div>
  </div>
  <div id="container">
    <div class="con_area">
      <div class="contents">
        <div class="write_form">
          <form id="writeAction" action="source" method="post" enctype="multipart/form-data">
              <input type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="Title">
              <div class="writeDetail">
                <input type="text" class="inputSourceType" id="addContentSourceType" name="addContentSourceType" placeholder="Source Type (ex: Exam)">
                <input type="text" class="inputPrice" id="addContentPrice" name="addContentPrice" placeholder="Price(won) (ex: 2000)">
                <input type="text" class="inputClassNumber" id="addContentClassNumber" name="addContentClassNumber" placeholder="Class Number (ex: CSED 101)">
                <input type="text" class="inputDepartment" id="addContentDepartment" name="addContentDepartment" placeholder="Department (ex: IME)">
              </div>
              <textarea class="textContents" id="addContents" name="addContents" rows="20" cols="80" placeholder="Detailed Explanation"></textarea>
              <input type="file" class="inputFile" id="UploadFile" name="UploadFile">
          </form>
          <div id = "new" class="addBtngroup">
            //- <div><a onclick="cancelWriteForm('cancel');">CANCEL</a></div>
            //- title, file_url, price,created_at, source_type, department, course_id,description
            div
              a(id='send', onclick='App.start(); App.createProduct($("input.inputSubject").val(), "temp", $("input.inputPrice").val(), 1, $("input.inputSourceType").val(), $("input.inputDepartment").val(), $("input.inputClassNumber").val(), $("textarea.textContents").val()); submitContents("add");') SUBMIT
          </div>
        </div>
        
        //- div 
        //-   h2.center-align(style='padding: 1em') What do you want to tell the world?
        //-   form(method='POST' action='/postmessage')
        //-     .row
        //-       .input-field
        //-         label(for='author') Author 
        //-         input.validate(type='text' name='author')
        //-     .row
        //-       .input-field
        //-         label(for='title') Title 
        //-         input.validate(type='text' name='title')
        //-     .row
        //-       .input-field
        //-         label(for='body') Message
        //-         input.validate(type='text' name='body')
        //-     button.btn.waves-effect.waves-light(type='submit', value='Submit')
        //-       i.material-icons send
      </div>
    </div>
  </div>
  
block js
  <script type="text/javascript" src="source_upload.js"></script>
  <script type="text/javascript" src="senpai_hazimae.js"></script>
