extends ./part/layout.pug
block content
  <div class="bg_source_sec"> <!-- ASK.png 에서 좌측 sidebar에 위치한 ASK 가 이 항목임 -->
    <div class="source_area">
      <div class="source_sec">
        <p class="source_title">
          <span>Source</span>
          <span class="bar">&nbsp;</span>
          <span class="source_sub_title">현재 업로드되어있는 Source들 입니다.</span>
        </p>
      </div>
    </div>
  </div>
  if keyword=='' | keyword==None
  else
    <div class="bg_search_sec">
      <div class="search_result_area">
        <div class="result_sec">
          <div class="keyword_result">
            <span class="keyword">
              <span>'</span>
              <span class="keyword_text">#{keyword}</span>
              <span>'</span>
            </span>
            <span></span>
            <span>에 대한 검색 결과</span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="con_area">
      <div class="contents">
        <div class="left sidebar">
           include ./part/sort_sidebar.pug
        </div>

        each source in sources
          include ./part/center_source_item.pug

        <div class="paginate_box">
          <div class="paginate">
            <span></span>
            <a href="/search?keyword=123&page=0" class="btn_num select" data-number="0">
              <span>1</span>
            </a>
            <span></span>
          </div>
        </div>

        
      </div>
    </div>
  </div>
block js
  <script type="text/javascript" src="source.js"></script>
