extends ./part/layout.pug
block content
  h1 MetaCoin
  span(id='balance') META
  label(for='amount') Amount
  input(type='text', id='amount', placeholder='e.g., 95')
  label(for='receiver') To Address
  input(type='text', id='receiver', placeholder='e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae')
  button(id='send', onclick='App.sendCoin()') Send MetaCo
  span(id='status')
