extends ./part/layout.pug
block content
  h1 MetaCoin
  br
  span(id='balance' class='balance') META
  br
  button(id='start', onclick='App.start()') refersh
  br
  label(for='amount') Amount
  br
  input(type='text', id='amount', placeholder='e.g., 95')
  br
  label(for='receiver') To Address
  br
  input(type='text', id='receiver', placeholder='e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae')
  br
  button(id='send', onclick='App.sendCoin()') Send MetaCoin
  br
  span(id='status')

block js
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="web3.min.js"></script>
  <script type="text/javascript" src="truffle-contract.js"></script>
  <script type="text/javascript" src="truffle_test.js"></script>
