.con_area {max-width: 1280px}

.con_area .contents .sidebar.left{position:absolute;top:0;left:0;width:200px}
.con_area .contents .sidebar.right{position:absolute;top:0;right:0;width:200px}

.con_area .contents .post_article.center{position:relative;max-width:100%;overflow:hidden;margin:0px 240px 30px 240px}
.con_area .contents .post_article.right{position:relative;max-width:100%;overflow:hidden;margin:0px 0px 30px 240px}

.con_area .contents .sidebar li a{font-size: 16px;font-weight: 200}
.con_area .contents .sidebar li a.bold{font-size: 16px; font-weight: 700;color: black}

.con_area .contents .write_form{position:relative;max-width:100%;overflow:hidden;margin:0px 240px 30px 240px}

.write_form form input {padding: 5px; margin: 5px; width: 350px}
.writeDetail {position:relative;overflow:hidden}
.writeThumbnail {position:relative;overflow:hidden; width: 200px; height: 200px}
.write_form form input.inputSubject {padding: 5px; margin: 5px; width: 400px; right: 0px}
.write_form form textarea {padding: 10px; margin: 10px 10px 5px 5px; border-color: darkgray; font-size: 15px}
input.inputSubject {font-size: 26px}
input.inputWriter, input.inputPassword {font-size: 15px}

.addBtngroup {margin-top: 20px}
.addBtngroup a {font-size: 20px; right: 0px; text-align: right}

/*.main_bg {position:absolute;width:100%;height:150px;background-image: url(stylesheets/img/app/bg_picture.png);background-size: 50px 50px;z-index:10}*/
/*.main_bg {position:relative;width:100%;height:150px;overflow:hidden;margin:0 auto;background-image:url(stylesheets/img/app/hackathon/main/web_0000s_0005_background-picture.jpg);background-size:100% 100%;background-position:50% 0;background-color:#513B7C;background-repeat:no-repeat}*/

.main_bg {position:relative;width:100%;height:150px;overflow:hidden;margin:0 auto;background-image:url(stylesheets/img/app/hackathon/main/web_0000s_0005_background_picture.png);background-size:100% 100%;background-position:50% 0;background-color:#513B7C;background-repeat:no-repeat}
a.top_logo {margin-left: 118px;margin-bottom: 5px; display:block;width:30px;height:39px;background:url(stylesheets/img/app/hackathon/main/logo.png) 0 0 no-repeat; background-size:100% 100%;}

/*.ask_banner {position:relative;width:100%;height:150px;overflow:hidden;margin:0 auto;background-image:url(stylesheets/img/app/hackathon/ask/ask_new_banner.png);background-size:100% 100%;background-position:50% 0;background-color:#513B7C;background-repeat:no-repeat}*/

.pc_search_input input {font-size: 16px}

.bg_img_sec .pc_search_input .btn_search_center{width:43px;height:34px;border:0;border-left:1px solid #E7E7E7;border-radius:3px;margin-left:16px;cursor:pointer;font-family:xeicon;background:#fff;color:#a5a5a5;font-size:21px;letter-spacing:-2px;transition:all 0.3s ease}

span.ask_sub_title {font-size: 17px}

/*.main_bg {position:relative;width:100%;height:150px;overflow:hidden;margin:0 auto;background-image:url(stylesheets/hackathon/main/web_0000s_0005_background-picture.jpg);background-size:100% 100%;background-position:50% 0;background-color:#513B7C;background-repeat:no-repeat}*/
/*.main_bg {position:relative;width:100%;height:150px;overflow:hidden;margin:0 auto;background-image:url(stylesheets/hackathon/main/web_0000s_0005_background-picture.jpg);background-size:100% 100%;background-position:50% 0;background-color:#513B7C;background-repeat:no-repeat}*/
